:root {
  --theme-light-grey: #bcc3cf;
  --theme-light-grey-rgba: rgba(188, 195, 207, 1);
  --theme-hero-bg: #707070;
  --theme-info-fold: #212121;
  --theme-info-fold-rgba: rgba(33, 33, 33, 1);
  --theme-data-fold: #f8f9fa;
  --theme-grad-start: #d6d6d614;
  --theme-grad-start-rgba: rgba(214, 214, 214, 0.08);
  --theme-blue: #0d6efd;
  --theme-blue-rgba: rgba(13, 110, 253, 1);
}

html {
  scroll-behavior: smooth;
}


.container:focus {
    outline: none;
    
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-centre-style {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
  margin: 3%;
}

.fold {
  width: 100vw;
  height: full;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}


.vid-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20;
}

.tags-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1px 2px;
}

.horizontal-slider {
  width: 100%;
  height: 16px;
  margin: 16px 0; 
}
.example-thumb {
  height: 16px;
  width: 16px;
  background: #0d6efd;
  border-radius: 50%;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.9em;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.example-track {
  top: 50%;
  background: #e9ecef;
  border-radius: 3px;
  transform: translateY(-50%);
  color:#0d6efd;
}
.example-track-selected {
  background: #0d6efd; /* your highlight color */
  height: 6px;
  border-radius: 3px;
}
.slider-mark {
  width: 2px;
  height: 14px;
  background: #bcc3cf;
  position: absolute;
  /* left: 50%; */
  top: 0;
  /* transform: translateX(-50%); */
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-mark-special {
  color: rgb(108, 117, 125);
  background-color: rgb(108, 117, 125);
  font-size: 0.8em;
  width: 2px;
  height: 14px;
  position: absolute;
  /* left: 24px; */
  top: 0;
  /* transform: translateX(-50%); */
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
